body {
    font-family: Courier, monospace;
    background: url(/main_background_chat.png) no-repeat center center fixed;
    background-size: cover;
    margin: 50px 0px;
}

.main-section small {
    font-size: 12px;
}

.main-section h3, .main-section h5 {
    margin: 0px;
}

.main-section {
    display: none;
    width: 960px;
    background-color: #fff;
    margin: auto;
    border-radius: 20px 20px 20px 20px;
}

.head-section {
    border-bottom: 1px solid #E6E6E6;
    clear: both;
    overflow: hidden;
    width: 100%;
}

.headLeft-section {
    width: calc(30% - 1px);
    float: left;
    border-right: 1px solid #E6E6E6;
}

.headLeft-sub {
    padding: 15px;
    text-align: center;
}

.headLeft-sub h2 {
    outline: none;
    padding: 0 23px 0 0;
    vertical-align: -12%;
}

.headLeft-sub input {
    outline: none;
    width: 70%;
    border-radius: 10px;
    border: 1px solid #E6E6E6;
    padding: 7px;
}

.headLeft-sub button {
    background-color: Transparent;
    border: 0px solid Transparent;
    padding: 0px 3px 0px 3px;
    vertical-align: -15%;
    font-size: 20px;
}

.headRight-section {
    width: 70%;
    float: left;
}

.headRight-sub {
    padding: 10px 15px 0px 15px;
}

.body-section {
    clear: both;
    overflow: hidden;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
}

.left-section {
    width: calc(30% - 1px);
    float: left;
    height: 500px;
    border-right: 1px solid #E6E6E6;
    background-color: #FFF;
    z-index: 1;
    position: relative;
}

.left-section ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.left-section ul li {
    padding: 15px 0px;
    cursor: pointer;
}

.left-section ul li.active {
    background: #009EF7;
    color: #fff;
    position: relative;
}

.mCustomScrollBox, .mCSB_container {
    overflow: unset !important;
}

.left-section ul li.active .desc .time {
    color: #fff;
}

.left-section ul li.active:before {
    position: absolute;
    content: '';
    right: -10px;
    border: 5px solid #009EF7;
    top: 0px;
    bottom: 0px;
    border-radius: 0px 3px 3px 0px;
}

.left-section ul li.active:after {
    position: absolute;
    content: "";
    bottom: 0px;
    right: 0px;
    left: auto;
    width: 100%;
    top: 0px;
    -webkit-box-shadow: -8px 4px 10px #a1a1a1;
    -moz-box-shadow: -8px 4px 10px #a1a1a1;
    box-shadow: -8px 4px 10px #a1a1a1;
}

.left-section .chatList {
    overflow: hidden;
}

.left-section .chatList .img {
    width: 60px;
    float: left;
    text-align: center;
    position: relative;
}

.left-section .chatList .img img {
    width: 30px;
    border-radius: 50%;
}

.left-section .chatList .img i {
    position: absolute;
    font-size: 10px;
    color: #52E2A7;
    border: 1px solid #fff;
    border-radius: 50%;
    left: 10px;
}

.left-section .chatList .desc {
    width: calc(100% - 60px);
    float: left;
    position: relative;
}

.left-section .chatList .desc h5 {
    margin-top: 6px;
    line-height: 5px;
}

.left-section .chatList .desc .time {
    position: absolute;
    right: 15px;
    color: #c1c1c1;
}

.right-section {
    width: 70%;
    float: left;
    height: 500px;
    background-color: #F6F6F6;
    position: relative;
}

.message {
    height: calc(100% - 68px);
    font-family: Courier, monospace;
    /*
     * old font
     * font-family: sans-serif;
     */
}

.message ul {
    padding: 0px;
    list-style: none;
    margin: 0px auto;
    width: 90%;
    overflow: hidden;
}

.message ul li {
    position: relative;
    width: 80%;
    padding: 15px 0px;
    clear: both;
}

.message ul li.active {
    background: #009EF7;
    color: #fff;
    position: relative;
    border-radius: 5px;
    -webkit-box-shadow: -8px 4px 10px #a1a1a1;
    -moz-box-shadow: -8px 4px 10px #a1a1a1;
    box-shadow: -8px 4px 10px #a1a1a1;
}

.message ul li.msg-left {
    float: left;
}

.message ul li.msg-left img {
    border-radius: 50%;
    position: absolute;
    width: 40px;
    bottom: 30px;
}

.message ul li.msg-left .msg-desc {
    margin-left: 70px;
    font-size: 12px;
    background: #E8E8E8;
    padding: 5px 10px;
    border-radius: 5px 5px 5px 0px;
    position: relative;
}

.message ul li.msg-left .msg-desc .sender {
    width: 100%;
    margin-bottom: 4px;
    display: block;
    float: left;
    color: #bababa;
}

.message ul li.msg-left .msg-desc .content {
    color: #000000;
}

.message ul li.active.msg-left .msg-desc .content {
    color: #000000;
}

.message ul li.msg-left .msg-desc .content img {
    position: relative;
    display: block;
    width: 100%;
    border-radius: 1px;
    overflow: hidden;
    top: 18px;
    margin-bottom: 6%;
}

.message ul li.msg-left .msg-desc:before {
    position: absolute;
    content: '';
    border: 10px solid transparent;
    border-bottom-color: #E8E8E8;
    bottom: 0px;
    left: -10px;
}

.message ul li.msg-left small {
    float: right;
    color: #c1c1c1;
}

.message ul li.msg-right {
    float: right;
}

.message ul li.msg-right img {
    border-radius: 50%;
    position: absolute;
    width: 40px;
    right: 0px;
    bottom: 30px;
}

.message ul li.msg-right .msg-desc {
    margin-right: 70px;
    font-size: 12px;
    background: #cce5ff;
    color: #004085;
    padding: 5px 10px;
    border-radius: 5px 5px 5px 0px;
    position: relative;
}

.message ul li.msg-right .msg-desc .sender {
    width: 100%;
    margin-bottom: 4px;
    display: block;
    float: left;
    color: #bababa;
}

.message ul li.msg-right .msg-desc .content {
    color: #000000;
}

.message ul li.active.msg-right .msg-desc .content {
    color: #000000;
}

.message ul li.msg-right .msg-desc .content img {
    position: relative;
    display: block;
    width: 100%;
    border-radius: 1px;
    overflow: hidden;
    top: 18px;
    margin-bottom: 6%;
}

.message ul li.msg-right .msg-desc:before {
    position: absolute;
    content: '';
    border: 10px solid transparent;
    border-bottom-color: #cce5ff;
    bottom: 0px;
    right: -10px;
}

.message ul li.msg-right small {
    float: right;
    color: #c1c1c1;
    margin-right: 70px;
}

.message ul li.msg-day {
    border-top: 1px solid #EBEBEB;
    width: 100%;
    padding: 0px;
    margin: 15px 0px;
}

.message ul li.msg-day small {
    position: absolute;
    top: -10px;
    background: #F6F6F6;
    color: #c1c1c1;
    padding: 3px 10px;
    left: 50%;
    transform: translateX(-50%);
}

.right-section-bottom {
    background: #fff;
    width: 100%;
    padding: 15px;
    position: absolute;
    bottom: 0px;
    border-top: 1px solid #E6E6E6;
    text-align: center;
}

.right-section-bottom input {
    outline: none;
    border: 0px;
    padding: 8px 5px;
    width: calc(100% - 120px);
}

.right-section-bottom .btn-send {
    padding: 4px 0px 4px 4px;
    float: right;
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
    background-color: Transparent;
    border: 0px solid Transparent;
}

.right-section-bottom .clear-message {
    padding: 4px 0px 4px 4px;
    float: left;
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
    background-color: Transparent;
    border: 0px solid Transparent;
}

.upload-btn {
    position: relative;
    overflow: hidden;
    display: inline-block;
    float: left;
}

.upload-btn .btn {
    padding: 4px 0px 4px 4px;
    float: right;
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
    background-color: Transparent;
    border: 0px solid Transparent;
}

.upload-btn input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

/* display the wrapping container in the top right corner of the viewport */
.notification {
    z-index: 9999;
    position: fixed;
    top: 0.5rem;
    right: 1rem;
    /* align the content to the right */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: hsl(0, 0%, 20%);
    /* hide the overflow to conceal the message when translated to the right of the container */
    overflow-x: hidden;
    /* padding to avoid cropping the box-shadow on the message */
    padding: 0.25rem;
}

/* style the content of the message to show a grid with the dismiss button in the top right corner
|h1  |  button |
|p   |p        |
*/
.notification__message {
    display: grid;
    grid-gap: 0.2rem;
    grid-template-columns: 1fr auto;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    /* style the div as a rounded rectangle with a border on the left segment */
    background: hsl(0, 0%, 100%);
    border-radius: 10px;
    box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.1), 0 2px 3px hsla(0, 0%, 0%, 0.1);
    border-left: 0.5rem solid hsl(0, 0%, 100%);
    /* by default hide the element from sight and include a transition for the chosen properties */
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
    transition-property: transform, opacity, visibility;
    transition-duration: 0.7s;
    transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.notification__message h1 {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: capitalize;
}

.notification__message p {
    max-width: 290px;
    font-size: 1.2rem;
    grid-column: 1/-1;
}

.notification__message button {
    background: none;
    border: none;
    color: inherit;
    width: 20px;
    height: 20px;
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
}

.notification__message button svg {
    display: block;
    width: 100%;
    height: 100%;
}

/* when the .notification container has a class of .received transition the message into view */
.notification.received .notification__message {
    transform: translateX(0%);
    opacity: 1;
    visibility: visible;
}

/* change the border color according to the different modifiers
! for each modifier specify also an svg icon in the background, to highlight the message
*/
.message--info {
    border-left-color: #90dee9;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><circle stroke="none" fill="%2390dee9" cx="50" cy="22" r="8"></circle><path fill="none" stroke="%2390dee9" stroke-width="12" stroke-linejoin="round" stroke-linecap="round" d="M 45 40 h 5 v 40 h -5 h 10"></path></svg>'),
    hsl(0, 0%, 100%);
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: 100% 100%;
}

.message--success {
    border-left-color: hsl(120, 67%, 74%);
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path fill="none" stroke="%2390e990" stroke-width="12" stroke-linejoin="round" stroke-linecap="round" d="M 20 52 l 25 25 l 30 -50"></path></svg>'),
    hsl(0, 0%, 100%);
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: 100% 100%;
}

.message--warning {
    border-left-color: hsl(54, 67%, 74%);
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path fill="none" stroke="%23e9e090" stroke-width="12" stroke-linejoin="round" stroke-linecap="round" d="M 50 18 v 40"></path><circle stroke="none" fill="%23e9e090" cx="50" cy="78" r="8"></circle></svg>'),
    hsl(0, 0%, 100%);
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: 100% 100%;
}

.message--danger {
    border-left-color: hsl(0, 67%, 74%);
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g transform="translate(50 50) rotate(45)"><path fill="none" stroke="%23e99090" stroke-width="12" stroke-linejoin="round" stroke-linecap="round" d="M 0 -30 v 60 z M -30 0 h 60"></path></g></svg>'),
    hsl(0, 0%, 100%);
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: 100% 100%;
}